
body {
  background: linear-gradient(to bottom, #b3d9ff, #ffffff);
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

/* nav styling */
ul {
  list-style-type: none;
}

li {
  margin: 15px;
}

span:focus{
  color:bisque;
}

span{
  color: black;
}

span:active {
  color: bisque;
}

/* card styling */
.card-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(50% - 1rem);
  margin-bottom: 1rem;
}

.card-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* picture styling */
.myPic {
  max-width: 17%;
  height: auto;
  justify-content: center;
  border-radius: 20%;
}

/* footer link profiles */
.gitLogo {
  max-width: 30px;
}

.linkLogo {
  max-width: 40px;
}

.instaLogo {
  max-width: 33px;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.linkStyle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.active-link span {
  color: bisque !important;
}

.aboutMePar {
  margin: 25px;
}

/* header styling */
.header{
  text-align: left;
  margin: 10px;
}

/* styling for form */
.form-container {
  display: flex;
  justify-content: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: center;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
  height: 2rem;
  margin: 0 auto;
}

.whole-form {
  margin: 30px;
}